<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Sanoma | Parked domain</title>
      <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
      <link href="/static/style.css" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <div id="block"></div>
      <div id="content">
         <div id="logo">
            <img src="/static/sanoma.png" alt="">
         </div>
         <p class="info">This domain is reserved for one of our customers pending future development
            <img src="/static/hosting.png" alt="">
         </p>
         <p class="copy">Copyright &copy; 2013 <a href="http://www.sanoma.nl">Sanoma Media The Netherlands B.V.</a> All rights reserved.</p>
      </div>
   </body>
</html>
